

 :root {
  --code-color: darkred;
  --code-bg-color: #aaaaaa;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember",Arial,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* { 
  margin-bottom: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #EAEDED;
  }
}
